/* Geral */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

header ul li {
    margin: 0 15px;
}

header ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

header ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

main h2 {
    font-size: 24px;
    margin-top: 0;
    color: #333;
}

main p {
    line-height: 1.6;
    margin-bottom: 20px;
}

/* Moldura e comprimento da imagem */
main img {
    max-width: 400px; /* Define um comprimento máximo para a imagem */
    width: 100%; /* Garante que a imagem não exceda o comprimento máximo */
    border-radius: 8px;
    margin-bottom: 20px;
    display: block;
    border: 5px solid #e8c31a; /* Cor da moldura */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para efeito de profundidade */
}

@media (max-width: 768px) {
    header ul {
        flex-direction: column;
        align-items: center;
    }

    header ul li {
        margin: 10px 0;
    }
}
